/* Import Playfair Display font */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* Global variables */

:root {
  --grayColor: rgb(142, 142, 142);
  --navyColor: rgb(28, 28, 87);
  --lightGold: rgb(243, 224, 143);
  --darkGold: rgb(186, 138, 24);
}


/* Reset (referenced from Josh Comeau) */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


/* Main styles */

body {
  background-image: url("images/paper_texture_bg.jpg");
  background-size: cover;
  font-family: "Playfair Display", serif;
}

button {
  background-color: rgb(47, 45, 95);
}

#main-title {
  font-size: 1.72rem;
  margin: auto;
  text-align: center;
  padding: 1rem;
}

dialog {
  margin: auto;
}

.star {
  width: 1.48em;
  height: 1.48em;
  fill: var(--grayColor);
  display: inline-block;
}

.star.filled {
  fill: url(#grad3);
}

input[type="radio"] {
  appearance: none;
}

.rating-group:disabled .star {
  opacity: 0.4;
}

.books-list {
    display: flex;
    flex-direction: column;
}

.headings, .book-row {
    display: grid;
    grid-template-columns: 1.48fr 1.48fr 1fr 1fr 1.48fr 1.48fr 1.48fr 1fr;
}

form {
  display: flex;
  flex-direction: column;
}