/* Import Playfair Display font */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');


/* Global variables */

/* Variables for colors to keep them consistent */
:root {
  --gray: rgb(142, 142, 142);
  --navy: rgb(50, 62, 95);
  --lightNavy: rgb(63, 80, 107);
  --darkNavy: rgb(43, 46, 77);
  --navyGradient: linear-gradient(to bottom, var(--navy), var(--lightNavy));
  --darkGradient: linear-gradient(to bottom, var(--darkNavy), var(--navy));
  --lightGold: rgb(243, 224, 143);
  --darkGold: rgb(186, 138, 24);
}


/* Reset (referenced from Josh Comeau) */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


/* Main styles */

body {
  background-image: url("images/texturedbg.png");
  font-family: "Playfair Display", serif;
  color: var(--navy);
}

button {
  background: var(--navyGradient);
  color: white;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#main-title {
  font-family: "Cinzel", serif;
  font-weight: 700;
  font-size: 2.12rem;
  text-align: center;
  padding-top: 0.72em;
  line-height: 1;
}

/* Container for title to control how wide the underline beneath it is */
#title-container {
  width: min(300px, 90%);
  margin: 0 auto 1.2em auto;
  border-bottom: solid 2px;
}

/* Add feedback for hovering over and clicking button */
#add-button {
  padding: 0.36rem 1.6rem;
}

#add-button:hover {
  background: var(--darkGradient);
}

#add-button:active {
    box-shadow: none;
    transform: translateY(2px);
}

#addb-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

/* Set position of dialog to relative to later control close button position */
#add-book {
  color: var(--navy);
  position: relative;
  padding: 0 2em 1.6em 2em;
  margin: auto;
  margin-top: 4em;
  border: solid 1px var(--navy);
}

#form-title {
  margin: 1em;
  text-align: center;
  font-weight: bolder;
  border-bottom: solid 1px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.72em;
}

/* Set button position to absolute to place it in upper right corner */
#dialog-close {
  color: var(--navy);
  background: transparent;
  width: 24px;
  height: auto;
  border: none;
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 2px;
  box-shadow: none;
}

/* Visible feedback for hovering over button */
#dialog-close:hover {
  background: rgb(216, 216, 216)
}

#submit {
  color: white;
  background: var(--navyGradient);
  border: none;
  padding: 4px;
}

/* Visible feedback for hovering over button */
#submit:hover {
  background: var(--darkGradient);
}

/* Space-between to make form layout more neat (Titles on left, inputs on right) */
.field {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

/* Star (radio button) styles for when they're unselected */
.star {
  width: 1.48em;
  height: 1.48em;
  fill: var(--gray);
  display: inline-block;
}

/* Star (and all stars behind it) become filled when selected */
.star.filled {
  fill: url(#grad3);
}

/* Remove standard button appearance to replace with star svgs */
input[type="radio"] {
  appearance: none;
}

/* Since native styling is disabled above, have to add it back to stars manually */
.rating-group:disabled .star {
  opacity: 0.4;
}

#books-container {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  margin-top: 0.36em;
}

.books-list {
  font-size: 0.96rem;
  display: flex;
  flex-direction: column;
  margin: 0 2em;
}

/* Each row is a grid to ensure spacings of columns stay consistent between them */
.headings, .book-row {
  display: grid;
  grid-template-columns: 1.48fr 1.48fr 0.72fr 0.72fr 0.86fr 0.86fr 1.2fr 1.6fr;
  gap: 0.6em;
  padding: 0.2em 0.4em;
}

.headings {
  font-weight: bold;
  margin-bottom: 0.6em;
  border-bottom: solid 2px var(--navy);
}

/* Add visual feedback for hovering over a row */
.book-row:hover {
  background-color: rgb(228, 226, 220);
}

.actions {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.edit-button, .remove-button {
  font-size: 0.86rem;
  padding: 0.24rem 1.36rem;
}

/* Add feedback for hovering over and clicking button */
.edit-button:hover, .remove-button:hover {
  background: var(--darkGradient);
}

.edit-button:active, .remove-button:active {
    box-shadow: none;
    transform: translateY(1px);
}