/* Reset (referenced from Josh Comeau) */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Main styles */

dialog {
  margin: auto;
}

svg {
  display: none;
}

.star {
  width: 1.48em;
  height: 1.48em;
  fill: rgb(115, 115, 115);
  display: inline-block;
}

.star.filled {
  fill: rgb(255, 191, 0);
}

input[type="radio"] {
  appearance: none;
}

.rating-group:disabled .star {
  opacity: 0.4;
}

.books-list {
    display: flex;
    flex-direction: column;
}

.headings, .book-row {
    display: grid;
    grid-template-columns: 1.48fr 1.48fr 1fr 1fr 1.48fr 1.48fr 1fr;
}

form {
  display: flex;
  flex-direction: column;
}