/* Reset (referenced from Josh Comeau) */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Main styles */

.books-list {
    display: flex;
    flex-direction: column;
}

.headings {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
}